body {
  font-family: "Raleway", sans-serif;
}
header{
  grid-area: header;
  background-color: rgb(167, 167, 227);
  height: 50px;
  text-align: center;
  margin: 0px;
  padding: 10px;
  }

menu{
  grid-area: menu;
  background-color: rgb(223, 223, 229);
  height: 124vh;
  width: 200px;
  margin: 0px;
  padding: 10px;
  display: flex;
  }

ul {
justify-content: flex-start;
margin: 10px;
padding: 10px;
list-style:none;
}

li {
  display: flex;
  justify-content: flex-start;
}
 
.titulo
{
  flex-direction: row;
  color: black;
  font-weight: bolder;
  margin: 0px 0px 5px 0px;
  padding: 0px;
  font-size: x-large;
}

.cantidad
{
  flex-direction: row;
  color: rgb(162, 162, 163);
  margin: 0px;
  padding: 0px;
}

.precio
{
  flex-direction: row;
  color: black;
  margin: 0px 0px 5px 0px;
  padding: 0px;
  font-size: small;
}
 
.grid-container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
    gap: 5px;
    background-color: rgb(223, 223, 229);
}

main {
    display: grid;
    grid-area: main;
    background-color: rgb(223, 223, 229);
    height: 124vh;
    width: 153vh;
    margin: 0px;
    padding: 0px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.grid-item {
   background-color: white;
   height: 60vh;
   padding: 0px;
   margin: 0px;
   text-align: center;
}

.img-tam2{
    height:350px;
    width: 100%;
    padding: 10px;
    margin: 0px;
}
.pie-item-grid
{
  background-color: rgb(167, 167, 227); 
  padding: 6px;
  margin: 0px;
  width: 100%;
  height: 40px;
}

footer{
    grid-area: footer;
    background-color: rgb(167, 167, 227);
    height: 60px;
    text-align: center;
    margin: 0px;
    padding: 10px;
}
  